.xx-horizontal-ruler {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  /* This avoids using margin: 50px auto, which would cause the horizontal ruler to
  compress if placed directly within a flex container with column orientation. */
  transform: translateX(-50%);
  max-width: 1000px;
  margin: 0;
  border-top: 1px solid var(--hr-color);
}

.xx-horizontal-ruler hr {
  border: 0;
  box-sizing: border-box;
  position: relative;
  top: -12px;
  width: 10px;
  height: 1px;
  left: 0;
  margin: 16px 0;
  background-color: var(--hr-color);
  transform-origin: 0% 0%;
  opacity: 1;
  /* overflow: visible; /* Overwrite Chrome */
}

.xx-horizontal-ruler hr:nth-child(1) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(2) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(3) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(4) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(5) {
  width: 15px;
  margin-right: -5px;
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(6) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(7) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(8) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(9) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(10) {
  width: 25px;
  margin-right: -15px;
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(11) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(12) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(13) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(14) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(15) {
  width: 15px;
  margin-right: -5px;
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(16) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(17) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(18) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(19) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(20) {
  width: 40px;
  margin-right: -30px;
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(21) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(22) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(23) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(24) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(25) {
  width: 15px;
  margin-right: -5px;
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(26) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(27) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(28) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(29) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(30) {
  width: 25px;
  margin-right: -15px;
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(31) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(32) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(33) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(34) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(35) {
  width: 15px;
  margin-right: -5px;
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(36) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(37) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(38) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:nth-child(39) {
  transform: rotate(90deg);
}

.xx-horizontal-ruler hr:last-child {
  margin-right: -10px;
} /* This assumes that the final line has width: 10px; */

@media (max-width: 575px) {
  .xx-horizontal-ruler hr:nth-child(2),
  .xx-horizontal-ruler hr:nth-child(3),
  .xx-horizontal-ruler hr:nth-child(4),
  .xx-horizontal-ruler hr:nth-child(5),
  .xx-horizontal-ruler hr:nth-child(6),
  .xx-horizontal-ruler hr:nth-child(34),
  .xx-horizontal-ruler hr:nth-child(35),
  .xx-horizontal-ruler hr:nth-child(36),
  .xx-horizontal-ruler hr:nth-child(37),
  .xx-horizontal-ruler hr:nth-child(38) {
    display: none;
  }
}

@media (max-width: 450px) {
  .xx-horizontal-ruler hr:nth-child(15),
  .xx-horizontal-ruler hr:nth-child(16),
  .xx-horizontal-ruler hr:nth-child(17),
  .xx-horizontal-ruler hr:nth-child(18),
  .xx-horizontal-ruler hr:nth-child(19),
  .xx-horizontal-ruler hr:nth-child(21),
  .xx-horizontal-ruler hr:nth-child(22),
  .xx-horizontal-ruler hr:nth-child(23),
  .xx-horizontal-ruler hr:nth-child(24),
  .xx-horizontal-ruler hr:nth-child(25) {
    display: none;
  }

  .xx-horizontal-ruler hr:nth-child(10) {
    width: 15px;
    margin-right: -5px;
    transform: rotate(90deg);
  }

  .xx-horizontal-ruler hr:nth-child(20) {
    width: 25px;
    margin-right: -15px;
    transform: rotate(90deg);
  }

  .xx-horizontal-ruler hr:nth-child(30) {
    width: 15px;
    margin-right: -5px;
    transform: rotate(90deg);
  }
}

@media (max-width: 400px) {
  .xx-horizontal-ruler {
    margin: 50px auto;
    max-width: 300px;
  }

  .xx-horizontal-ruler hr:nth-child(7),
  .xx-horizontal-ruler hr:nth-child(8),
  .xx-horizontal-ruler hr:nth-child(11),
  .xx-horizontal-ruler hr:nth-child(12),
  .xx-horizontal-ruler hr:nth-child(26),
  .xx-horizontal-ruler hr:nth-child(27),
  .xx-horizontal-ruler hr:nth-child(30),
  .xx-horizontal-ruler hr:nth-child(31) {
    display: none;
  }
}
