/* Don't use @import to load fonts in from fonts.googleapis.com production! 
It's slow and will cause FOUC. Instead, self-host the fonts, or use fontsource.org */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import 'tailwindcss';

/* See node_modules/tw-animate-css/dist */
@import 'tw-animate-css';

/* See node_modules/shadcn/dist/tailwind.css 
In newer versions of shadcn/ui, the shadcn package is needed as a dependency. 
It's basically some @keyframes and @custom-variant styles. */
@import 'shadcn/tailwind.css';

/* https://fontsource.org/fonts/poppins
https://fontsource.org/fonts/poppins/install */
@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';

/* If no real italic @font-face is available for Poppins, the browser may 
synthesize an oblique/italic version or fall back to another italic face 
— which can still look like Poppins depending on how the browser synthesizes,
or whether a fallback italic is available. If you want true, designer-crafted 
italics, you must import the actual italic font files. */

@import '@fontsource/poppins/100-italic.css';
@import '@fontsource/poppins/200-italic.css';
@import '@fontsource/poppins/300-italic.css';
@import '@fontsource/poppins/400-italic.css';
@import '@fontsource/poppins/500-italic.css';
@import '@fontsource/poppins/600-italic.css';
@import '@fontsource/poppins/700-italic.css';
@import '@fontsource/poppins/800-italic.css';
@import '@fontsource/poppins/900-italic.css';

/* ======================
        :root
====================== */
/* The CSS variables in :root, .dark and @theme inline were originally from the 
initial ShadCN initialization. However, several additional variables have been 
added. Some variables have been removed and other changed.

--primary-light
--primary-dark
--primary-soft

--secondary-light
--secondary-dark
--secondary-soft

--destructive-light
--destructive-dark
--destructive-foreground
--destructive-soft

--success-light
--success-dark
--success
--success-foreground
--success-soft

--info-light
--info-dark
--info
--info-foreground
--info-soft

--warning-light
--warning-dark
--warning
--warning-foreground
--warning-soft
*/

:root {
  /* Background: This is used to create the --color-background variable, 
  which then is used  on the body element below to apply the bg-background class. */
  --background: rgb(237, 242, 249);
  --background: rgb(250, 250, 250);

  /* Foreground: This is used to create the --color-foreground variable, which 
  then is used on the body element below to apply the text-foreground class. */
  --foreground: #212529;

  /* The purpose of --card in ShadCN's design system is specifically intended 
  to create surfaces that visually distinguish from the background, providing 
  depth and hierarchy. This applies not just to Card components, but to any 
  container that needs to "pop" or stand out as a distinct surface. */

  --card: #fff;
  /* ❌ --card-foreground: oklch(0.145 0 0); */

  /* Primary */
  --primary-light: var(--color-stone-500);
  --primary-dark: var(--color-cyan-500);
  --primary: var(--primary-light);
  --primary-foreground: #fff;
  --primary-soft: var(--color-stone-50);

  /* Secondary */
  --secondary-light: var(--color-cyan-500);
  --secondary-dark: var(--color-cyan-500);
  --secondary: var(--secondary-light);
  --secondary-foreground: #fff;
  --secondary-soft: var(--color-cyan-50);

  /* Destructive */
  --destructive-light: var(--color-rose-500);
  --destructive-dark: var(--color-rose-500);
  --destructive: var(--destructive-light);
  --destructive-foreground: #fff;
  --destructive-soft: var(--color-rose-50);

  /* Success */
  --success-light: var(--color-green-500);
  --success-dark: var(--color-green-500);
  --success: var(--success-light);
  --success-foreground: #fff;
  --success-soft: var(--color-green-50);

  /* Info: */
  --info-light: var(--color-blue-500);
  --info-dark: var(--color-blue-500);
  --info: var(--info-light);
  --info-foreground: #fff;
  --info-soft: var(--color-blue-50);

  /* Warning: */
  --warning-light: var(--color-yellow-500);
  --warning-dark: var(--color-yellow-500);
  --warning: var(--warning-light);
  --warning-foreground: #fff;
  --warning-soft: var(--color-yellow-50);

  /* Muted */
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  /* Accent */
  --accent: oklch(from var(--card) calc(l - 0.05) c h);
  --accent-foreground: var(--foreground);

  /* Border
  This is used to create the --color-border variable. 
  It can then be used to do className="border border-border". 
  This creates the default border color. It's value is in that
  it also changes when the mode is dark. However, ShadCN goes one
  step further and applies `border-border` globally with *, so 
  we only need to use the `border` class by itself. */
  --border: var(--color-neutral-300);

  --sidebar: var(--card);
  --sidebar-border: var(--border);
  --sidebar-accent: var(--accent);
  --sidebar-foreground: var(--foreground);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Ring */
  --ring: oklch(0.708 0 0);

  --radius: 0.625rem;

  /* Chart */
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
}

/* ======================
        .dark
====================== */

.dark {
  --background: var(--color-slate-900);
  --foreground: #fafafa;
  --card: var(--color-slate-800);

  /* Primary */
  --primary: var(--primary-dark);
  --primary-foreground: #fff;
  --primary-soft: var(--color-cyan-50);

  /* Secondary */
  --secondary: var(--secondary-dark);
  --secondary-foreground: #fff;
  --secondary-soft: var(--color-cyan-50);

  /* Destructive */
  --destructive: var(--destructive-dark);
  --destructive-foreground: #fff;
  --destructive-soft: var(--color-rose-50);

  /* Success */
  --success: var(--success-dark);
  --success-foreground: #fff;
  --success-soft: var(--color-green-50);

  /* Info */
  --info: var(--info-dark);
  --info-foreground: #fff;
  --info-soft: var(--color-blue-50);

  --warning: var(--warning-dark);
  --warning-foreground: #fff;
  --warning-soft: var(--color-yellow-50);

  /* Muted */
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  /* Accent */
  --accent: oklch(from var(--card) calc(l + 0.1) c h);
  --accent-foreground: var(--foreground);

  /* Border */
  --border: #555;

  /* Sidebar */
  --sidebar: var(--card);
  --sidebar-border: var(--border);
  --sidebar-accent: var(--accent);
  --sidebar-foreground: var(--foreground);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-ring: oklch(0.556 0 0);

  /* Ring */
  --ring: oklch(0.556 0 0);

  /* Chart */
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
}

/* ======================
          Theme
====================== */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);

  /* Primary Color */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* Secondary Color */
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  /* Destructive Color */
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* Success Color */
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  /* Info Color */
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  /* Warning Color */
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  /* Muted Color */
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  /* Accent Color */
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  /* Border Color */
  --color-border: var(--border);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  /* Ring Color */
  --color-ring: var(--ring); /* Default: var(--ring) */

  /* Font Types */
  --font-sans: 'Poppins', sans-serif;

  /* Chart Color */
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
}

/* ======================
          Base
====================== */
/* Be careful when adding anything additional to the base layer. The Tailwind 
preflight.css does a pretty good job already. If you go setting additional 
properties here, you may get too accustomed to that behavior when building 
components and be surprised when migrating those same components to a different 
project that does not have the additional base styles. For that reason, it's 
recommended that this not be changed. */

@layer base {
  * {
    /* The idea here with border-border is that by simply applying `border` 
    we immediately get the benefits of different color borders in light/dark mode. */
    @apply border-border outline-ring/50;
  }

  /* Above we set --font-sans to 'Poppins', sans-serif */
  body {
    @apply bg-background text-foreground font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    @apply font-sans;
  }
}

/* Vite apps have a <div id="root?> element. */
#root {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

th {
  text-align: -webkit-match-parent;
}

/* ======================
      Components
====================== */

@layer components {
  @import '../components/Table/index.css';

  /* ======================
      .transition-none 
  ====================== */
  /* Note: Tailwind already has a transition-none that sets
  transition-property: none; However, this is useful for forcing
  it everywhere. Currently, it's hardcoded on <html> to prevent 
  light/dark theme transition from happening on mount. */

  .transition-none-all,
  .transition-none-all * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  /* ======================
      .hide-scrollbar 
  ====================== */

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* ======================
        Utilities
====================== */
/* To add a custom utility in v4.0, use the new @utility directive: */

/* @utility your-class-name {} */

/* ======================
        Plugins
====================== */

/* ... */

/* ======================
        Variants
====================== */

@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));
@custom-variant system (&:is(.system *));
