/* Most of the time, it makes more sense to do everything in Tailwind.
However, the Table component has many styles that chain combinators to
make complex selectors that target nested elements. Converting this to
Tailwind is cumbersome, and it simply makes more sense to use actual
CSS here.

This file is imported into components in global.css as follows:

@layer components {
  @import './components/Table/index.css';
}

This is important for two reasons:

1. It allows Tailwind utility classes to maintain a generally
higher precedence due to still coming later in the cascade.

2. It ensures that the CSS custom properties will be read 
correctly and used within the JIT compilation process. 

That said, it's still probably better to move this into a
Tailwind plugin. */

:root {
  --table-bg: var(--color-card);
  --table-border-color: var(--color-border);

  --table-striped-bg: var(--color-accent);
  --table-striped-color: var(--color-accent-foreground);

  --table-hover-bg: var(--color-accent);
  --table-hover-color: var(--color-foreground);
  --table-hover-outline-color: var(--color-foreground);

  --table-active-bg: var(--color-green-300);
  --table-active-color: var(--color-accent-foreground);
  --table-group-divider-color: var(--table-border-color);

  --table-header-footer-accent-bg: var(--primary-soft);
}

.shadcn-table-container {
  border: 1px solid var(--table-border-color);
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.shadcn-table {
  background-color: var(--table-bg);
  border-collapse: collapse;
  border-color: var(--table-border-color);
  box-sizing: border-box;
  caption-side: bottom;
  font-size: var(--text-sm);
  margin: 0px;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.shadcn-table thead {
  border-color: inherit;
  text-align: left;
}

.shadcn-table tbody {
  border-color: inherit;
  text-align: left;
}

.shadcn-table tfoot {
  border-color: inherit;
  text-align: left;
}

.shadcn-table tfoot tr {
  border-top-width: 1px;
}

.shadcn-table tr {
  border-color: inherit;
}

.shadcn-table th {
  border-color: inherit;
  font-weight: 600;
}

.shadcn-table td {
  border-color: inherit;
}

.shadcn-table > :not(caption) > * > * {
  padding: calc(var(--spacing) * 2);
  border-bottom-width: 1px;
}

/* ======================
      .caption-top
====================== */

/* Tailwind already has this
.caption-top { caption-side: top; } 
*/

/* ======================
  .table-xs, .table-sm
====================== */

.table-xs > :not(caption) > * > * {
  font-size: var(--text-xs);
  padding: calc(var(--spacing) * 0.5);
}

.table-sm > :not(caption) > * > * {
  font-size: var(--text-sm);
  padding: var(--spacing);
}

/* ======================
    .table-bordered
====================== */
/* Adds vertical column borders and a border around the entire table. */

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

/* ======================
    .table-borderless
====================== */
/* Removes horizontal bottom border for each row. */

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0px;
}

.table-borderless > :not(:first-child) {
  border-top-width: 0px;
}

.table-borderless tfoot tr {
  border-top-width: 0px;
}

/* ======================
    .table-striped
====================== */

.table-striped > tbody > tr:nth-of-type(even) > * {
  background-color: var(--table-striped-bg);
  color: var(--table-striped-color);
}

.table-striped-columns > tbody > tr > :nth-child(even) {
  color: var(--table-striped-color);
  background-color: var(--table-striped-bg);
}

/* ======================
      .table-active
====================== */

.table-active,
.table-active > th,
.table-active > td {
  color: var(--table-active-color) !important;
  background-color: var(--table-active-bg) !important;
}

.table-active-data,
.table-active-data > td {
  color: var(--table-active-color) !important;
  background-color: var(--table-active-bg) !important;
}

/* ======================
    .table-hover
====================== */
/* This was initially just '.table-hover > tbody > tr:hover > *', but we now
need a higher specificity to override '.table-striped-data'.
Also, !important is used here to override .table-active.
Hover styles should always have the highest precedence.
After that, .table-active and .table-active-data should
have precedence over striping. */

.table-hover > tbody > tr:hover {
  outline: 1px solid var(--table-hover-outline-color);
}

.table-hover > tbody > tr:hover > * {
  background-color: var(--table-hover-bg);
  color: var(--table-hover-color);
}

/* ======================
      .table-flush
====================== */
/* Used to remove outer border from table. */

/* .table-flush {
  outline: 2px dashed deeppink;
} */

.table-flush thead > tr:first-child {
  border-top: none;
}

.table-flush thead > tr > th:first-child,
.table-flush thead > tr > td:first-child {
  border-left: none;
}

.table-flush thead > tr > th:last-child,
.table-flush thead > tr > td:last-child {
  border-right: none;
}

.table-flush tbody > tr > td:first-child,
.table-flush tbody > tr > th:first-child {
  border-left: none;
}

.table-flush tbody > tr > td:last-child,
.table-flush tbody > tr > th:last-child {
  border-right: none;
}

.table-flush tbody > tr:first-child {
  border-top: none;
}

.table-flush tbody > tr:last-child {
  border-bottom: none;
}

.table-flush tbody > tr:last-child td,
.table-flush tbody > tr:last-child th {
  border-bottom: none;
}

.table-flush tfoot > tr {
  border-bottom: none;
}

.table-flush tfoot > tr:last-child th,
.table-flush tfoot > tr:last-child td {
  border-bottom: none;
}

.table-flush tfoot > tr > th:first-child,
.table-flush tfoot > tr > td:first-child {
  border-left: none;
}

.table-flush tfoot > tr > th:last-child,
.table-flush tfoot > tr > td:last-child {
  border-right: none;
}

/* ======================
       Variants
====================== */

.shadcn-table-container.shadcn-table-primary {
  border-color: var(--color-primary);
  --table-striped-bg: oklch(from var(--color-primary) l c h / 0.05);
  --table-hover-outline-color: var(--color-primary);
  --table-hover-bg: oklch(from var(--color-primary) l c h / 0.1);
}

.shadcn-table-primary {
  /* If border-color is set here,t hen it will be inherited throughout
  the table. It's being omitted here based on the assumption thta 99% of
  the time the table's outer border will come from the container.
  /* border-color: var(--color-primary); */
  --table-striped-bg: oklch(from var(--color-primary) l c h / 0.05);
  --table-hover-outline-color: var(--color-primary);
  --table-hover-bg: oklch(from var(--color-primary) l c h / 0.1);
}

.shadcn-table.shadcn-table-primary thead tr {
  border-bottom-color: var(--color-primary);
}

.shadcn-table.shadcn-table-primary th {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.shadcn-table.shadcn-table-primary tfoot tr {
  border-top-color: var(--color-primary);
}

.shadcn-table-container.shadcn-table-secondary {
  border-color: var(--color-secondary);
  --table-striped-bg: oklch(from var(--color-secondary) l c h / 0.05);
  --table-hover-outline-color: var(--color-secondary);
  --table-hover-bg: oklch(from var(--color-secondary) l c h / 0.1);
}

.shadcn-table-secondary {
  --table-striped-bg: oklch(from var(--color-secondary) l c h / 0.05);
  --table-hover-outline-color: var(--color-secondary);
  --table-hover-bg: oklch(from var(--color-secondary) l c h / 0.1);
}

.shadcn-table.shadcn-table-secondary thead tr {
  border-bottom-color: var(--color-secondary);
}

.shadcn-table.shadcn-table-secondary th {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.shadcn-table.shadcn-table-secondary tfoot tr {
  border-top-color: var(--color-secondary);
}

/* ======================
  .table-group-divider
====================== */

/* important overrides styles in table-flush */
.table-group-divider {
  border-top: 2px solid var(--table-group-divider-color) !important;
}
